html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: initial;
}

* {
  margin: 0;
  padding: 0;
}

body {
  /* background-image: linear-gradient(to top right, #fda085, #f6d365 70%);
  background-attachment: fixed; */
  background-color: #faebd7;
  color: #222;
  font-family: "Patrick Hand", cursive;
  line-height: 1.7;
  min-height: 100vh;
  width: 100vw;
  overflow-x: hidden;
}

button:focus,
input:focus {
  outline: 2px solid #7c7c7c;
  outline-offset: -2px;
}

input,
select {
  font-family: inherit;
}

.app {
  max-width: 56.25em;
  margin: 0 auto;
  padding: 2rem 0.75rem;
}

.header {
  margin-bottom: 0.75rem;
  text-align: center;
}

.header h1 {
  font-size: 3rem;
  text-decoration: underline;
}

.form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem 0;
}

.form__box {
  display: flex;
}

@media (max-width: 41.75em) {
  .header h1 {
    font-size: 2rem;
  }

  .form {
    justify-content: center;
  }

  .form__box {
    justify-content: center;
  }
}

.form__input,
.form__btn {
  padding: 0.5rem;
  font-size: 2rem;
  border: none;
}

.form__input {
  background-color: #fff;
  max-width: 70%;
}

.form__btn {
  color: #fda085;
  background-color: #fff;
  cursor: pointer;
  transition: color 300ms ease-in-out, background-color 300ms ease-in-out;
}

.form__btn:hover {
  background-color: #fda085;
  color: #fff;
}

.filter {
  /* margin: 1rem;
  margin-right: 0; */
  position: relative;
  overflow: hidden;
}

.filter::after {
  content: "\25bc";
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  background-color: #fda085;
  color: #fff;
  padding: 1.1rem;
  font-size: 1rem;
  pointer-events: none;
  transition: all 300ms ease-in-out;
}

.filter:hover::after,
.filter:focus-within::after {
  background-color: #fff;
  color: #fda085;
}

.filter:focus-within {
  outline: 2px solid #7c7c7c;
}

.filter__select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  outline: none;
  color: #fda085;
  width: 10rem;
  padding: 1.1rem;
  font-size: 1rem;
  cursor: pointer;
}

.filter__item {
  font-size: 1rem;
}

.todo-container {
  padding-top: 1.5rem;
  margin-top: 1.5rem;
  border-top: 2px dashed #fff;
}

.todo-empty {
  font-size: 1.3rem;
  text-align: center;
}

.todo-list {
  list-style: none;
  min-width: 50%;
  margin: 0 auto;
}

.todo {
  background-color: #fff;
  font-size: 1.5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  transition: all 300ms ease;
}

.todo:not(:last-child) {
  margin-bottom: 1rem;
}

.todo--completed {
  text-decoration: line-through;
  opacity: 0.7;
}

.todo--falling {
  transform: translateY(8rem) rotateZ(15deg);
  opacity: 0;
}

.todo__item {
  flex: 1;
  align-self: center;
  padding: 0 1rem;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
}

.todo__btn {
  color: #fff;
  padding: 1rem;
  border: none;
  cursor: pointer;
  font-size: 1rem;
}

.todo__btn--check {
  background-color: #6ce98d;
}

.todo__btn--delete {
  background-color: #fda085;
}

.todo__btn i {
  pointer-events: none;
}
